#slider-box {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  padding: 3px;
}

.slider-label {
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle !important;
  color: #0D343A !important;
}

.survey {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.question-box label {
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
  color: #C4BBAF;
}

.question-box {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

.question1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: center;
  margin-top: 50px;
  margin-left: -175px;
  border: 1px solid #0D343A;
  border-radius: 15px;
  overflow: hidden;
}


.pie-link {
  overflow: hidden;
}

.pie-chart {
  width: 70%;
  align-self: center;
  overflow: hidden;
}

.main-calc-btn {
  width: 200px;
  height: 60px;
  align-self: center;
  background-color: #0D343A;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  opacity: .8;
  border-radius: 15px;
  color: #C4BBAF;
  margin-top: 10px;
  margin-bottom: 5px;
}

.main-calc-btn:hover {
  background-color: #0D343A;
  opacity: .9;
}

.question-label {
  background-color: #0D343A;
  opacity: .8;
  text-align: center;
  vertical-align: middle;
  /*padding-bottom: 2px;*/
  padding-top: 2px;
}

input {
  z-index: 5000;
}

#caption {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #C4BBAF;
  font-size: 60px;
}

#sub-caption {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #C4BBAF;
  font-size: 20px;
}
