
  <div class="registration row">
    <div class="col-md-2">
      <p></p>
    </div>
    <div class="col-md-3 label-col">
      <label>Email</label>
      <label>Password</label>
      <label>Name</label>
    </div>
    <div class="col-md-5">
      <input type="text" class="inputs" #newEmail >
      <input type="password" class="inputs" #newPassword>
      <input type="text" class="inputs" #displayName>
    </div>
    <div class="col-md-2">
      <p></p>
    </div>
  </div>
    <div class="button-holder">
      <button type="submit" (click)="registerUser(newEmail.value, newPassword.value, displayName.value)">Create Account</button>
    </div>
