li {
  list-style: none;
  /*margin-top: 10px;*/
}

img {
  margin: 5px;
  border-radius: 50%;
  height: 3em;
  flex: 0 0 auto;
  cursor: pointer;
}

/*.status {
  display: inline-block;
}*/

.list-inline {
  display: inline;
}
