<div *ngIf="keptSurvey">
  <p>Please log in to continue</p>
</div>
<div class="login-flex">
  <div class="login">
    <div class="sign-in-header">
      <p>Sign In</p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p></p>
      </div>
      <div class="col-md-3 sign-in-labels">
        <label class="email-label">Email</label>
        <br>
        <label>Password</label>
      </div>
      <div class="col-md-5 sign-in-inputs">
        <input #signInEmail type="text" class="email-input">
        <input #signInPassword type="password" class="password-input">
      </div>
      <div class="col-md-2">
        <p></p>
      </div>
    </div>
    <div class="email-button">
      <button class="btn btn-default sign-in-button" (click)="loginWithEmail(signInEmail.value, signInPassword.value)">Sign in</button>
    </div>
    <p>OR</p>
    <div>
      <button class="btn btn-default google-button" (click)="loginWithGoogle()">Sign In With Google</button>
    </div>
  </div>
  <div class="register">
    <app-registration></app-registration>
  </div>
</div>
