<div class="login">
  <span routerLink='/new' class="new-user">new user?</span>
  <h2>Sign in with an existing account</h2>
  <div class="form-group">
    <label>Email</label>
    <input #signInEmail type="text">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input #signInPassword type="password">
  </div>
  <button class="btn btn-default" (click)="loginWithEmail(signInEmail.value, signInPassword.value)">Sign in</button>
  <button class="btn btn-default" (click)="loginWithGoogle()">Google</button>
</div>
