.navbar-brand {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
}

/*nav {
  border-bottom: 1.5px solid #67cac8;
  text-align: center;
}*/

li {
  list-style: none;
}

.navbar {
  background-color: #0D343A;
  color: #C4BBAF;
  height: 75px;
}
