#slider-box {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
}

.slider-label {
  margin-left: 10px;
  margin-right: 10px;
}

.survey {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.question1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.question2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pie-chart {
  width: 80%;
  margin-bottom: 20px;
  align-self: center;
}

.main-calc-btn {
  width: 150px !important;
  align-self: center;
}
