<div class="survey">
  <div class="question form-group">
    <label>How often do you eat animal based products? (eggs, dairy, meat)</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Never</label>
      <br>
      <input [(ngModel)]="openSurvey.animalConsumption" class="slider "type="range" min="0" max="45" step="0.01">
      <br>
      <label class="slider-label">Meat Daily</label>
    </div>
    <label>What is the size of your house?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">50 sq ft</label>
      <br>
      <input [(ngModel)]="openSurvey.squareFeet" class="slider "type="range" min="50" max="15000" step="0.01">
      <br>
      <label class="slider-label">15,000 sq ft</label>
    </div>
    <label>How many people live in your household?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Just you</label>
      <br>
      <input [(ngModel)]="openSurvey.peopleInHome" class="slider "type="range" min="1" max="10" step="1">
      <br>
      <label class="slider-label">10 people</label>
    </div>

    <label>How energy efficient is your home?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Very</label>
      <br>
      <input [(ngModel)]="openSurvey.houseEfficiency" class="slider "type="range" min="-3.5" max="3.5" step="0.01">
      <br>
      <label class="slider-label">Hardly</label>
    </div>

    <!-- <label>What percent of your home's electricity comes from renewable resources?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Low</label>
      <br>
      <input [(ngModel)]="openSurvey.percentRenewable" class="slider "type="range" min="0" max="100" step="0.01">
      <br>
      <label class="slider-label">High</label>
    </div> -->

    <label>Compared to your neighbors, how much trash do you generate?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Much Less</label>
      <br>
      <input [(ngModel)]="openSurvey.trash" class="slider "type="range" min="-3.9" max="3.9" step="0.01">
      <br>
      <label class="slider-label">Much More</label>
    </div>

    <label>How far do you travel by car/motorcyle per week?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Not Far</label>
      <br>
      <input [(ngModel)]="openSurvey.vehicleMiles" class="slider "type="range" min="0" max="500" step="0.01">
      <br> 
      <label class="slider-label">Very Far</label>
    </div>

    <label>What is the average fuel economy of the vehicle you use most?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Inefficient</label>
      <br>
      <input [(ngModel)]="openSurvey.milesPerGallon" class="slider "type="range" min="10" max="150" step="0.01">
      <br>
      <label class="slider-label">Efficient / Electric</label>
    </div>

    <label>How far to you travel on public transportation every week?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">Not Far</label>
      <br>
      <input [(ngModel)]="openSurvey.publicMiles" class="slider "type="range" min="0" max="500" step="0.01">
      <br>
      <label class="slider-label">Very Far</label>
    </div>

    <label>How many hours do you fly every year?</label>
    <br>
    <div id="slider-box">
      <label class="slider-label">None</label>
      <br>
      <input [(ngModel)]="openSurvey.milesFlown" class="slider " type="range" min="0" max="200" step="0.01">
      <br>
      <label class="slider-label">Many</label>
    </div>
    <button type="btn btn-default" (click)="submitSurvey()">Calculate</button>
  </div>

</div>

<app-pie-chart
[transport]='openSurvey.vehicleMiles'
[food]='100'
[housing]='200'></app-pie-chart>
