#food {
  background-color: #d6af66;
  text-align: center;
}

#housing {
  background-color: #5f464b;
  text-align: center;
}

#energy {
  background-color: #dd8663;
  text-align: center;
}

#trash {
  background-color: #5c6d70;
  text-align: center;
}

#transport {
  background-color: #c4bbaf;
  text-align: center;
}

h5 {
  margin: 0px;
  padding: 0.2em;
}

.well {
  margin: 0px;
  padding: 0px;
  width: 8em;
}

#goal-button {
  background-image: url("/assets/images/5.jpg");
  border-color: white;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 50%;
  height: 100px;
}

#goal-button:hover {
  opacity: .9;
}

#take-survey-button {
  background-image: url("/assets/images/6.jpg");
  border-color: white;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 50%;
  height: 100px;
}

#take-survey-button:hover{
  opacity: .9;
}

#tips-button {
  background-image: url("/assets/images/7.jpg");
  border-color: white;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 50%;
  height: 100px;
}

#tips-button:hover {
  opacity: .9;
}

#show-survey-button {
  background-image: url("/assets/images/11.jpg");
  border-color: white;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 50%;
  height: 100px;
}

#show-survey-button:hover {
  opacity: .9;
}

.button-row {
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.table-head {
  font-size: 1.5em;
  background-color: #0D343A;
  font-family: 'Quicksand', sans-serif;
  color: #C4BBAF;
}

#survey-table {
  border-collapse: collapse;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  border-color: #0D343A;
}

td, tr {
  border: 1px solid #0D343A;
}

.chart-header {
  font-size: 1.5em;
  padding: 8px;
  background-color: #0D343A;
  font-family: 'Quicksand', sans-serif;
  color: #C4BBAF;
  text-align: center;
  border-radius: 15px 15px 0px 0px;

}

.tip-header {
  font-size: 1.5em;
  padding: 8px;
  background-color: #0D343A;
  font-family: 'Quicksand', sans-serif;
  color: #C4BBAF;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.tip-top {
  font-size: 1.5em;
  background-color: #0D343A60;
  font-family: 'Quicksand', sans-serif;
  color: #0D343A;
  text-align: center;
}

.tip-link {
  font-family: 'Open Sans', sans-serif;
  color: #0D343A;
  text-align: center;
  padding-bottom: 5px;
}

.tip-link a {
  font-family: 'Open Sans', sans-serif;
  color: #0D343A;
  text-align: center;
}

.no-margin-p {
  margin:0;
}

.delete-button {
  margin-top: 100px

}
