<ul *ngIf="user">
  <li *ngFor="let survey of userSurveys">Your total CO2 output for the survey taken on {{survey?.date}} is: {{survey?.totalCo2}}</li>
</ul>

<button type="button" (click)='setGoals()' class="btn btn-success btn-lg">Set A Goal</button>
<button type="button" (click)='takeSurvey()' class="btn btn-info btn-lg">Take A Survey</button>
<button type="button" (click)='clickedShowSurveys()' class="btn btn-info btn-lg">Show Surveys</button>
<button type="button" (click)='clickedShowTips()' class="btn btn-info btn-lg">Show Tips</button>


<app-line-chart *ngIf="renderLineChart && userSurveys.length > 0" [childUserSurveys]="userSurveys"></app-line-chart>
<button type="button" (click)='deleteAccount()' class="btn btn-danger btn-xs">Delete Account</button>
